img {
	border: 0;
	outline: 0;
}
a {
	text-decoration: none;
	border: 0;
	outline: 0;
	color:inherit;
	&.link{	
		text-decoration: underline;
		&.blue{
			color:#4656a1;
			&:hover{
				color: darken(#4656a1, 10%);
			}
		}
		&.orange{
			color:#ff6600;
			&:hover{
				color: darken(#ff6600, 10%);
			}
		}
	}
}
strong{
	font-weight: 700;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.3;
}
body {
	resize: none;

	outline: none;

	-webkit-focus-ring-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-text-size-adjust: none;
	color:$baseText;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
div {
	position: relative;
}
.clear {
	clear: both;

	width: 100%;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
nav {
	list-style: none;
}
nav ul {
	padding: 0;

	list-style-type: none;
}
ul,
ol {
	margin: 0;
	padding: 0 0 0 20px;
}
input {
	margin: 0;
	padding: 0;
}
input,
textarea {
	@include box-shadow(none);
	
	font-family: 'Ubuntu', sans-serif;
	border: 0;
	outline: 0;
}
p {
	margin: 0;
	padding: 0 0 16px 0;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;

	    -ms-hyphens: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;

	margin: 0;
	padding: 0 0 8px 0;
}
form .ng-invalid.ng-dirty {
	border: 1px solid #ff5400 !important;
}

.preload * {
	@include transition(all, 0s, linear);
}

input[type="text"], 
input[type="email"], 
input[type="password"]{
	width: 100%;
	height: 44px;
	padding:0 16px 0 16px;
	@include box-sizing(border-box);
	@include border-radius(4px);
	background-color: #ebedef;
	@include box-shadow(inset 0 1px 5px rgba(0,1,2,.5));
	@include opacity(.6);
	color: #1f1f1e;
	font-size: 18px;
	font-weight: 300;
	&.low{
		height: 36px;
		background-color: #feffff;
		@include box-shadow(inset 0 0 4px rgba(0,0,1,.5));
		font-size: 16px;
	}

}




