/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin,cyrillic);
@import 'fa/font-awesome';
@import 'compass/reset';
@import 'additional/vars';
@import 'compass/css3';
@import 'additional/mixins';
@import 'additional/resets';
@import 'additional/typical';
@import 'additional/page';

//*--------------------------------------------- body -------------------------------------------*/



#mainSlider
{
    z-index: 0;

    margin-top: -58px;
    .fotorama__stage
    {
        background: transparent url('../i/sliderBg.jpg') no-repeat;
        background-size: cover;
    }
    .fotorama__html
    {
        & > div
        {
            min-height: 100%;

            color: #fff;

            @extend %pageWidth;
            .title
            {
                font-size: 60px;
                font-weight: 700;

                margin-bottom: .5em;
                &.fs44
                {
                    font-size: 44px;
                }
            }
            p
            {
                font-size: 15px;
            }
            a
            {
                position: absolute;
                right: 0;
                left: 0;

                display: block;

                height: 100%;
                margin: 0 auto;
            }
            .text
            {
                position: absolute;
                top: 0;
                bottom: 0;

                display: table;

                width: 50%;
                margin: auto 0;
            }
            img
            {
                position: absolute;

                @include alignCenter();
                top: 20%;
                left: 48%;
            }
        }
    }
}

.fotorama__arr
{
    font-family: 'FontAwesome';
    font-size: 36px;
    font-weight: normal;

    color: #fff;
    background: none;
    &.fotorama__arr--next
    {
        right: 5%;
        &:after
        {
            content: '\f054';
        }
    }
    &.fotorama__arr--prev
    {
        left: 5%;
    }
    &:after
    {
        content: '\f053';
    }
}
    
#mainSlider{
    .fotorama__nav__frame {
        width: 65px !important;
        &.fotorama__active{
            .fotorama__dot{
                background: #fff;
                 width: 60px;
                height: 4px;
            }
        }
    }
    .fotorama__nav-wrap{
        top: -40px;
    }
    .fotorama__nav__shaft{
        left: 30%;
    }
    .fotorama__dot{
        width: 60px;
        height: 4px;
        border-width: 0 !important;
        background:rgba(#fff, 0.3);
        @include border-radius(0);
    }
}
    
//---------------------------------------------- category Rows

.categories{
    &.onMain{
        margin-bottom: 40px;
    }
    &:after{
        content:"";
        clear:left;
        display: block;
    }
	[class*='row-']{
        &:hover{
            .title{
                background:url(../i/gr.png);
            }
           
        }
        .inner{
            padding: 35px 35px 35px 0;
            background:$catGray;
            @include border-radius(4px);
        }
    }
	.title{
		background:url(../i/or.png);
		display: block;
		padding: 25px;
		color:#fff;
		width: 75%;
		height: 25px;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1;
		span{
			display: table-cell;
			width: 150px;
			vertical-align: middle;
			height: 25px;
		}
	}
	img{
		position: absolute;
		bottom: 0;
		right: 1%;
        max-height: 95%;
	}
}

// поиск категории на главной

.getCat{
    margin-bottom: 50px;
    form{
        position: relative;
    }
    input[type="text"]{
        width: 100%;
        padding-right: 216px;
    }

    .buttonDounload{
        width: 300px;
        @include box-sizing(border-box);
        height: 46px;
        display: block;
        padding-left: 55px; 
        text-align: center;
        line-height: 46px;
        @include sprite(-94px, -3px);
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        &:hover{
            @include opacity(0.8);
        }
    }    

}
.searchCat{
    input[type="submit"]{
        position: absolute;
        top: 4px;
        right: 4px;
    }    
}

.linkToBack{
    float: right;
    z-index: 10;
    color:$orange;
    font-size: 24px ;
    margin-top: 5px;
    display: none;
}
// ------------------------------------------------------ Блок опроса

.opros{    
    .question{
        font-size: 16px;
        color:$darkText;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .iconButton{
        width: 222px;
        height: 36px;
        .text{
            &:before{
                width: 24px;
                height: 21px;
            }
        }
    }
    input[type="submit"]{
        // width: 100%;
        // height: 100%;
        // @include sprite(-284px, 0);
        //border:0;
        //@include box-shadow(none);
        // &:hover{
        //      @include sprite(-284px, -40px);
        // }
    }
}


// ------------------------------------------------------- Блок подписка

.podpiska{
    text-align: center;
    label{
        display: block;
        margin: 5px 0;
    }  
    .inner{
        background:#eceeef url('../i/rass.jpg') center top no-repeat;
    }
    .iconButton{
        width: 100%;
        .text{
            &:before{
                width: 22px;
                height: 22px;
                background-position: -27px 0;
            }
        }
    }

}
    

.catalogCarusel{
    margin-bottom: 30px;
    .cWrapper{
        padding: 0 70px; @include box-sizing(border-box);
    }
    .arr{
        bottom: 0;
        margin:auto;
        height: 15px;
        &.next{
            right: 0;
        }
        &.prev{
            left: 0;
        }
    }
    .row{
        text-align: center;
        width: 150px;
        margin-right: 90px;
        color:#84959d;
        &:hover{
            color:#485a63;
        }
        &:nth-child(3n){
            img{
                height: 100%;
            }
        }
    }
    .pic{
        height: 110px;
        margin-bottom: 5px;
    }
    img{
        height: 80%;
        @include alignCenter();
        top: auto;
    }
}


// --------------------------------------- catalogNav

.catalogNav{
    .subCats{
        display: none;
    }
}

// --------------------------------------- catalogRows

.catalogRows{
    .pic{
        position: relative;
        display: block;
        width: 100%;
        height: 220px;
        img{
            @include alignCenter();
            max-height: 100%;
        }
    }
    .title{
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: 700;
        color:$darkText;
        display: block;
    }
    ul{
        padding: 0;
    }
    li{
        margin-bottom: 10px;
        color:#485a63;
        a:hover{
            color:$orange;
            text-decoration: underline;
        }
    }
    [class*="row-"]{
        &>.inner{
            padding: 0 20px;
        }
        margin-bottom: 30px;
    }

    &.otziviRows{
         [class*="row-"]{
            text-align: center;
         }
        .pic{
            height: 240px;
            margin-bottom: 20px;
            img{
                display: block;
                border:#cfcfcf 1px solid;
            }
        }
    }
}

.pic{
    i{
        @include alignCenter();
        z-index: 2;
        color:$orange;
        width: 36px;
        height: 40px;
        display: block;
        font-size: 32px;
        display: none;
        &:before{
            text-shadow:0 0 5px 5px #fff;
        }
    }
    &:hover{
        i{
            display: block;
        }
    }
}

.ceniContent{
    p{
        color:$darkText;
    }
}
.doclinks{
    display: inline-block;
    padding-left: 40px;
    i{
        margin-left: 40px;
        color:$orange;
    }
    a{
        &:hover{
            color:$orange !important;
        }
    }
    .docRows &{
        float: right;

    }
}
.docRows{
    padding: 30px;
    .row{
        margin-bottom: 35px;
    }
    &.serts{
        padding: 0;
        padding-top: 30px;
        .sertIco{
            width: 14px;
            height: 18px;
            @include sprite(-21px, -97px);
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }
    }
}
.downloadIco{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    @include sprite(0, -97px);
}

.contactsPage{
    [class*="row-"]{
        margin-bottom: 30px;
    }
    i{
        display: inline-block;
        width: 25px;
    }
    .headingBold{
        span{
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .contItem{
        margin-bottom: 12px;
        i, .labe, .val{
            display: inline-block;
            vertical-align: top;
        }
        .labe{
            width: 55px;
        }
        .val{
            width: 195px;
        }
    }
    .doljnost{
        color:$darkText;
    }
    button{
        margin-top: 30px;
        margin-bottom: 50px;
        .text{
            &:before{
                width: 18px;
                height: 22px;
                background-position: -27px -24px;
            }
        }
    }
    
}

.routeSchema{
    display: block;
    margin: 30px 0 50px;
    width: 204px;
    height: 38px;
    @include sprite(-284px, -160px);
    @include box-shadow(none);
    border: 0;
    &:hover{
        @include opacity(0.8);
    }
}

.pagination{
    font-size: 0;
    color:#a3a5a5;
    margin: 40px 0;
    padding-left: 0;
    li{
        display: inline-block;
        margin-right: 8px;
        &:last-child{
            margin-right: 0;
        }
        &.active, &:hover{
            color:$orange;
        }
    }
    a, span{
        display: block;
        width: 36px;
        height: 36px;
        @include border-radius(4px);
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        @include background-image(linear-gradient(#f2f3f4, #e7e9ea));
        @include box-shadow(0 1px 1px rgba(#000, 0.3));
        text-shadow:0 -1px 0 rgba(#000, 0.2);
    }
    i{
        font-size: 17px;
    }
}

.servicePage{
    .serviceName{
        font-size: 20px;
        font-weight: 700;
        color:$darkText;
        margin-bottom: 20px;
    }
    .row{
        margin-bottom: 30px;
        &:after{
            display: block;
            content:"";
            clear: right;
        }
    }
    .logo{
        width: 135px;
        text-align: center;
        float: left;
        img{
            max-width: 90%;
        }
    }
    .text{
        margin-left: 150px;
    }
}

.tuBuy{
    width: 147px;
    height: 38px;
   .text{
        &:before{
            width: 20px;
            height: 20px;
            background-position: 0 -46px;
        }
   }
}

.vacancii{
    padding: 0;
    h2{
        padding-bottom: 0;
        cursor: pointer;
    }
    &>li{
        border-bottom: 1px solid #bfcacf;
        padding: 20px 0;
    }
    .vacTitle{
        color:#20201e;
        font-size: 20px;
        font-weight: 700;

    }
    .showMore{
        float: right;
        padding-top: 5px;
        color:#617882;
        cursor: pointer;
        &:hover{
            color:$orange;
            i{
                border-color:$orange;
            }
        }
        span{
            text-decoration: underline;
        }
        i{
            display: inline-block;
            width: 10px;
            height: 10px;
            @include border-radius(6px);
            border:1px solid #617882;
            line-height: 10px;
            font-size: 10px;
            text-align: center;
            margin-left: 5px;
            &:after{
                content:"\f107";
            }
        }
        .hidden1{
            display: none;
        }
        &.shown{
            i{
                &:after{
                    content:"\f106";
                }
            }
            .hidden2{
                display: none;
            }
            .hidden1{
                display: inline;
            }
        }
    }
    .headingBold{
        margin-bottom: 16px;
        display: block;
    }
    .vacdesc{
        padding: 23px 0 0;
    }

    .button{
        font-size: 16px;
    }

    .dropDown{
        display: none;
    }

}

.videoRows{
    .inner{
        padding-right: 20px;
    }
    [class*="row"]{
        margin-bottom: 40px;
    }
    .wrapper{
         &:before{
            display: block;
            content:"";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            @include background-image(linear-gradient(rgba(#000, 0), rgba(#000, 0.2)));
         }
    }
    .pic{
        margin-bottom: 20px;
        padding: 3px;
        border: 1px solid #bfcacf;
        img{
            width: 100%;
            height: 189px;
            display: block;
        }
    }
    span{
        color:#fff;
        display: inline-block;
        font-weight: 700;
        bottom: 7px;
        position: absolute;
        right: 10px;
    }
    a{
        position: relative;
        display: block;
        &:hover{
            color:$orange;
            i{
                background:$orange;
            }
        }
    }
    i{
        width: 62px;
        height: 62px;
        display: block;
        @include border-radius(31px);
        background:rgba(#000, 0.6);
        line-height: 62px;
        text-align: center;
        &:before{
            color:#fff;
            padding-left: 8px;
        }
    }
}

.heading20{
    font-size: 20px;
    font-weight: 700;
    color:$darkText;

}

table{
    &.adaptive{
        td, th{
            &:nth-child(1),
            &:nth-child(2){
                width: 150px;
            }
        }
    }
}

.vistavkaLine{
    font-size: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #bfcacf;
    margin-bottom: 16px; 
    .cWW{
        padding: 0 20px;
    }
    .arr{
        top: 80px;
        &.prev{
            left: 0;
        }
         &.next{
            right: 0;
        }
    }
    .row{
        padding: 3px;
        margin-right: 4px;
        display: inline-block;
        border: 1px solid #bfcacf;
        display: inline-block;
        margin-bottom: 16px;
        .pic{
            @include imgWrapper(116px, 103px);
        }
    }
    time{
        display: block;
        font-style: 16px;
        margin-bottom: 16px;
    }
}

.cloInh{
    color:inherit;
}

.carOnM{
    .navig{
        position: absolute;
        right: 0;
        padding:0 15px;
        top: -83px;
        background:#fff;
        height: 36px;
        width: 85px;
        .arr{
            position: relative;
            display: inline-block;
            float: left;
        }
    }
    .btTabs{
        &:before{
            display: block;
            content:"";
            height: 1px;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 0;
            background:#e7eaec;
            margin:auto 0;
        }       
    }

}
.bt{
    background:#fff;
}
.adMenu{
    display: none;
   .iconButton{
        width: 100%;
        margin-bottom: 20px;
        .text{
            &:before{
                 width: 22px;
                height: 19px;
                background-position: 0 -24px;
            }
        }
       
   }
}


#menuButton {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    width: 30px;
    height: 32px;
    overflow: hidden;
    .menuLine {
        position: relative;
        width: 30px;
        height: 4px;
        margin: 5px auto;
        background: $orange;
        z-index: 10;
        right: 0;
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;

        .openMenu &{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transition: all, 0.3s;
            -moz-transition: all, 0.3s;
            -o-transition: all, 0.3s;
            transition: all, 0.3s;
            background: #fff;
            
            &:nth-child(2) {
              right: -100px;
            }
           
            &:nth-child(1) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
           
            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
        }
    }
}
.docRow{
    &>i{
        display: inline-block;
        width: 20px;
    }
}
.filename{
    display: inline-block;
    vertical-align: top;
    width: 290px;
    margin-left: 4px;
}   


.newsRows{  
    
    &.searchRes{
        .text{
            margin-left: 0;
        }
    }
    .row{
        // Опционально размеры и цвет
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 20px;
        padding-bottom: 15px;
        overflow: hidden;
        // &:after{
        //     content:"";
        //     display: block;
        //     clear: right;
        // }
    }

    .pic{
        // Cтатичные свойства
        float: left;
        margin-top: 10px;

        // Опционально размеры
        @include imgWrapper(300px, 195px); // Мой миксин для кропа и центрирования изображения
    }

    img{
        // Cтатичные свойства
        display: block;
    }

    .text{
        // Опционально
        margin-left: 336px;
    }

    .title{
        // Cтатичные свойства
        display: block;
        font-size: 24px;
        @extend .link.blue;

        
        // Опционально
        margin-bottom: 16px;
        &:hover{
            color:$orange !important;
        }
    }

    .dateTime{
        // Cтатичные свойства
        display: block;
        color:inherit;
        margin-bottom: 16px;
    }

    p{
        a{
            @extend .link.blue;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.resInfo{
    margin-top: -8px;
}


.wrap404{
    text-align: center;
    max-width: 525px;
    width: 100%;
    padding: 55px 0 20px;
    margin: 0 auto;
    p{
        font-size: 14px;
        color:#999999;
    }
    .bigText{
        font-size: 24px;
        color:#999999;
        font-weight: bold;
        display: block;
        margin-bottom: 16px;
    }
}
@import 'additional/media';